In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
#load the data
Nba2021 = pd.read_csv('NBA2021.csv')
Nba2022 = pd.read_csv('NBA2022.csv')
Nba2023 = pd.read_csv('NBA2023.csv')
Nba2024 = pd.read_csv('NBA2024.csv')

In [52]:
Nba2021['Year'] = 2021
Nba2022['Year'] = 2022
Nba2023['Year'] = 2023
Nba2024['Year'] = 2024

In [53]:
#check for NAN and inf values
Nba2024.isnull().sum()

Player     1
Age        1
G          1
GS         1
MP         1
FG         1
FGA        1
FG%        9
3P         1
3PA        1
3P%       47
2P         1
2PA        1
2P%       14
eFG%       9
FT         1
FTA        1
FT%       60
ORB        1
DRB        1
TRB        1
AST        1
STL        1
BLK        1
TOV        1
PF         1
PTS        1
Year       0
dtype: int64

In [54]:
#dropNA values
Nba2021.dropna()
Nba2022.dropna()
Nba2023.dropna()
Nba2024.dropna()

,Player,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Joel Embiid,29.0,39.0,39.0,33.6,11.5,21.8,0.529,1.4,3.6,...,2.4,8.6,11.0,5.6,1.2,1.7,3.8,2.9,34.7,2024
1,Luka Dončić,24.0,70.0,70.0,37.5,11.5,23.6,0.487,4.1,10.6,...,0.8,8.4,9.2,9.8,1.4,0.5,4.0,2.1,33.9,2024
2,Giannis Antetokounmpo,29.0,73.0,73.0,35.2,11.5,18.8,0.611,0.5,1.7,...,2.7,8.8,11.5,6.5,1.2,1.1,3.4,2.9,30.4,2024
3,Shai Gilgeous-Alexander,25.0,75.0,75.0,34.0,10.6,19.8,0.535,1.3,3.6,...,0.9,4.7,5.5,6.2,2.0,0.9,2.2,2.5,30.1,2024
4,Jalen Brunson,27.0,77.0,77.0,35.4,10.3,21.4,0.479,2.7,6.8,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Alondes Williams,24.0,7.0,0.0,2.3,0.3,1.1,0.250,0.0,0.6,...,0.0,0.1,0.1,0.0,0.0,0.1,0.3,0.3,0.7,2024
721,Usman Garuba,21.0,6.0,0.0,3.0,0.2,1.0,0.167,0.0,0.2,...,0.5,0.7,1.2,0.2,0.2,0.5,0.3,0.3,0.5,2024
722,E.J. Liddell,23.0,8.0,0.0,2.9,0.1,0.8,0.167,0.0,0.6,...,0.0,0.6,0.6,0.1,0.3,0.3,0.3,0.3,0.5,2024
723,Pete Nance,23.0,8.0,0.0,3.4,0.1,0.8,0.167,0.1,0.1,...,0.0,0.4,0.4,0.0,0.1,0.0,0.1,0.3,0.4,2024
724,Maxwell Lewis,21.0,34.0,0.0,3.0,0.1,0.6,0.190,0.0,0.3,...,0.1,0.1,0.1,0.2,0.1,0.0,0.3,0.1,0.3,2024

Because players show up multiple times in the data because of trades, we need to keep the data in where the games played is the most for that player. it is usually the total games played for the player.

In [55]:
# Sort by Player name and Games played (G) descending
Nba2021_sorted = Nba2021.sort_values(by=["Player", "G"], ascending=[True, False])

# Drop duplicates by Player, keeping the row with the most games
Nba2021_cleaned = Nba2021_sorted.drop_duplicates(subset="Player", keep="first")

Nba21 = Nba2021_cleaned.set_index("Player")

In [56]:
Nba2022_sorted = Nba2022.sort_values(by=["Player", "G"], ascending=[True, False])

# Drop duplicates by Player, keeping the row with the most games
Nba2022_cleaned = Nba2022_sorted.drop_duplicates(subset="Player", keep="first")

Nba22 = Nba2022_cleaned.set_index("Player")

In [57]:
Nba2023_sorted = Nba2023.sort_values(by=["Player", "G"], ascending=[True, False])

# Drop duplicates by Player, keeping the row with the most games
Nba2023_cleaned = Nba2023_sorted.drop_duplicates(subset="Player", keep="first")

Nba23 = Nba2023_cleaned.set_index("Player")

In [58]:
Nba2024_sorted = Nba2024.sort_values(by=["Player", "G"], ascending=[True, False])

# Drop duplicates by Player, keeping the row with the most games
Nba2024_cleaned = Nba2024_sorted.drop_duplicates(subset="Player", keep="first")

Nba24 = Nba2024_cleaned.set_index("Player")

Now lets concatenate the 4 dataframes into one.

In [63]:
Nba_combined = pd.concat([Nba21,Nba22,Nba23, Nba24])
Nba_combined.drop(columns=['Unnamed: 27', 'Unnamed: 28'], inplace=True)

#sort by player
Nba_combined = Nba_combined.sort_values(by=["Player"])

Nba_combined.head()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
Player,,,,,,,,,,,,,,,,,,,,,
A.J. Green,24.0,56.0,0.0,11.0,1.5,3.5,0.423,1.2,3.0,0.408,...,0.2,1.0,1.1,0.5,0.2,0.1,0.2,0.9,4.5,2024
A.J. Green,23.0,35.0,1.0,9.9,1.5,3.6,0.424,1.3,3.0,0.419,...,0.2,1.1,1.3,0.6,0.2,0.0,0.3,0.9,4.4,2023
A.J. Lawson,23.0,42.0,0.0,7.4,1.3,2.9,0.446,0.3,1.2,0.260,...,0.3,0.9,1.2,0.5,0.2,0.1,0.3,0.5,3.2,2024
A.J. Lawson,22.0,15.0,0.0,7.2,1.5,2.9,0.500,0.7,1.7,0.400,...,0.4,1.0,1.4,0.1,0.1,0.0,0.2,0.7,3.7,2023
AJ Griffin,20.0,20.0,0.0,8.6,0.9,3.1,0.290,0.5,2.0,0.256,...,0.1,0.8,0.9,0.3,0.1,0.1,0.4,0.3,2.4,2024

Here we are going to be adding columns to the dataframe for more advanced stats

In [64]:
#making sure Year is a number
Nba_combined['Year'] = pd.to_numeric(Nba_combined['Year'])


#Calculating the following advanced statistics for better analysis

#Usage Rate
Nba_combined['USG'] = (Nba_combined['FGA'] + 0.44 * Nba_combined['FTA'] + Nba_combined['TOV']) / Nba_combined['G']


# True Shooting Percentage
Nba_combined['TS%'] = Nba_combined['PTS'] / (2 * (Nba_combined['FGA'] + 0.44 * Nba_combined['FTA'] + 1e-5))

# Assist to Turnover Ratio
Nba_combined['AST_TO'] = Nba_combined['AST'] / (Nba_combined['TOV'] + 1e-5)

# Total Rebound Rate per minute
Nba_combined['REB_per_min'] = Nba_combined['TRB'] / (Nba_combined['MP'] + 1e-5)

# Points per Field Goal Attempt
Nba_combined['PTS_per_FGA'] = Nba_combined['PTS'] / (Nba_combined['FGA'] + 1e-5)

# Free Throw Rate
Nba_combined['FT_rate'] = Nba_combined['FTA'] / (Nba_combined['FGA'] + 1e-5)

# 3-Point Rate
Nba_combined['3P_rate'] = Nba_combined['3PA'] / (Nba_combined['FGA'] + 1e-5)

#Efficiency 

Nba_combined['EFF'] = (Nba_combined['PTS'] + Nba_combined['TRB'] + Nba_combined['AST'] + Nba_combined['STL'] + Nba_combined['BLK'] - (Nba_combined['FGA'] - Nba_combined['FG']) - (Nba_combined['FTA'] - Nba_combined['FT']) - Nba_combined['TOV']) / Nba_combined['MP']


# Turnover Percentage
Nba_combined['TOV%'] = 100 * Nba_combined['TOV'] / (Nba_combined['FGA'] + 0.44 * Nba_combined['FTA'] + Nba_combined['TOV'] + 1e-5)


# Foul Rate
Nba_combined['PF_per_min'] = Nba_combined['PF'] / (Nba_combined['MP'] + 1e-5)


#Rates of stats per minute
Nba_combined["STL_per_min"] = Nba_combined["STL"] / Nba_combined["MP"]
Nba_combined["BLK_per_min"] = Nba_combined["BLK"] / Nba_combined["MP"]
Nba_combined["TRB_rate"] = Nba_combined["TRB"] / Nba_combined["MP"]